black
flake8
GitPython
toml
pybadges
# Due to https://github.com/PyCQA/pylint/issues/4097
# TODO remove version peg when this error is fixed.
pylint==2.6.0
pytest
pytest-cov
pytest-xdist
sphinx
sphinx-rtd-theme
sphinx_sitemap
twine
